<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bloom - The Fake Social Network!</title>
  </head>

  <body>
    <div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div> <!-- /container -->
    <%= render @view_module, @view_template, assigns %>
    <!-- @FIXME: don't use static tags here. Values should flow from view  -->
    <script src="<%= static_path(@conn, "/js/signup.js") %>"></script>
  </body>
</html>
