
// spacing
smallest-spacing = 5px
small-spacing = 10px
medium-spacing = 15px
large-spacing = 20px
huge-spacing = 35px


// colors palette
bright-red = #B3001B
tory-blue = #0F539B
mine-shaft = #262626
polo-blue = #7ea3cc
sorell-brown = #ccad8f


input
  outliner none
  font-size 16px
  padding smallest-spacing small-spacing
  border 2px solid tory-blue
