
// spacing
smallest-spacing = 5px small-spacing = 10px
medium-spacing = 15px
large-spacing = 20px
huge-spacing = 35px
icon-width = 20px
icon-height = 20px

// colors palette
bright-red = #B3001B
tory-blue = #0F539B
mine-shaft = #262626
polo-blue = #7ea3cc
sorell-brown = #ccad8f
facebook-blue = #3b5998

h1
  font-size 42px
  font-family helvetica-neue arial

input
  outline none
  font-size 16px
  padding smallest-spacing small-spacing
  border 2px solid tory-blue
  margin small-spacing
  max-width 240px

body
  background-color sorell-brown

button
  width 120px
  height 35px
  font-size 16px
  margin small-spacing
  color white
  background-color tory-blue
  border 2px solid mine-shaft

button.button-long
  width 240px

button.with-icon
  display flex
  flex-flow column wrap
  justify-content center
  align-items flex-start
  span
    padding-left small-spacing

button.facebook
  background-color facebook-blue

svg.icon
  width icon-width
  height icon-height
  margin-right small-spacing

svg.facebook
  fill white
