@import './core.styl'

#form-container
  display flex
  flex-flow column wrap
  justify-content center
  align-items center
  max-width 650px
  margin auto

.banner
  width 650px
  text-align center
  margin auto
